<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
    <title>Document</title>
</head>
<body>
  <div class="container">
      <h1>Enquete</h1>
    <h2>Você teria coragem de fazer uma viagem sem volta para Marte?</h2>
    <p>
        <a asp-action="reply" class="btn btn-primary">Responder agora!</a>
        <a asp-action="SurveyResult" class="btn btn-primary">Ver resultados parciais</a>
    </p>
  </div>
</body>
</html>